@charset "utf-8"
/*css document */
;

h1 {
    color: rgb(31, 28, 201);
    font-size: 35px;
}

.botonera {
    width: 1200px;
    height: 90px;
    background-color: lightskyblue;
}

#cabecera {
    background-color: aquamarine;
    width: 1200px;
    height: 250px;
}

header p {
    font-size: 25px;
}